{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "myapp/src/output.css" %}">
    <title>Document</title>
</head>
<body>

    <nav>
        <div>
            <div>
                <div>
                    <div class="flex">
                        <img class="h-10 w-10" src="{% static "images/cart.png" %}" alt="">
                        <p class="text-xl">Pro Shop</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    {% for item in items %}

    <a href="{% url "myapp:detail" item.id %}">

        <h2>{{item.id}}</h2>
        <h2>{{item.name}}</h2>
        <h2>{{item.price}}</h2>
        <h2>{{item.discription}}</h2>


    </a>
        
    {% endfor %}
</body>
</html>